.dilution-designer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--navbar-height));

}
.designer-column {
  flex-direction: column;
  display: flex;
  height: 100%;
  overflow-y: auto;
  scrollbar-gutter: stable;
  gap: 0.5rem;
}