.mapper-tabs {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--navbar-height));
}

.mapper-tabs .tab-content {
  min-height: 0;
  display: flex;
  flex-grow: 1;
}

.mapper-tabs .tab-content .tab-pane {
  flex: 1;
}

.treatment-curves {
  overflow-y: auto;
  font-size: x-large;
}