.concentration-table-container {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  padding: 0.625rem;
}

.concentration-table-container .key {
  padding: 0.0625rem;
  color: #6c757d;
}

.concentration-table-container .value {
  text-align: end;
  font-size: 1.125rem;
  width: 100%;
  border: none;
  background: transparent;
}

.concentration-table-container .value-box {
  padding-right: 1em;
}

.color-preview {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: 1px solid #dee2e6;
  margin-left: 0.5em;
}