.well {
  background-color: #fff;
  border: 1px solid #000;
  aspect-ratio: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.well.selected {
  background-color: #007bff;
}

.selection-rectangle {
  position: absolute;
  border: 2px dashed blue; 
  background-color: rgba(135, 206, 235, 0.3);
  pointer-events: none;
}

.well-highlighted {
  outline: 1px solid blue;
  outline-offset: -1px;
}

.well::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}

.well-highlighted::after {
  outline: 2px solid blue;
  outline-offset: -1px;
}

.well .dmso {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent transparent transparent black;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}

.unused-pattern {
  position: relative;
}

.well-unused .well-segment {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 3px,
    rgba(0, 0, 0, 0.05) 3px,
    rgba(0, 0, 0, 0.05) 6px
  ) !important;
}

.plate-grid-label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: clamp(6px, 0.5vw, 12px);
}

.grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "allWells colLabels"
    "rowLabels wells";
  gap: 2px;
}

.all-wells-container {
  display: grid;
  grid-area: allWells;
  font-size: clamp(6px, 0.5vw, 12px);
  border: 1px solid #000;
  aspect-ratio: 1; 
  color: transparent;
}

.col-labels-container {
  display: grid;
  grid-area: colLabels;
}

.row-labels-container {
  display: grid; 
  grid-area: rowLabels;
}

.wells-container {
  grid-area: wells;
  display: grid;
  gap: 1px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}