.page-tabs {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--navbar-height));
}

.page-tabs .tab-content {
  min-height: 0;
  display: flex;
  flex-grow: 1;
}

.page-tabs .tab-content .tab-pane {
  flex: 1;
}

.page-card {
  border: 2px solid #adb5bd;
  min-height: 0;
}

.page-card .card-header {
  padding: 0.25rem;
}