.sidebar {
  height: calc(100vh - var(--navbar-height));
  padding: 1rem;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  display: flex;
  flex-direction: column;
}/*used*/

.item-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.375rem 0.625rem;
}

.item-list-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  background: white;
  cursor: pointer;
  padding: 0.3rem;
  transition: background-color 0.15s, border-color 0.15s, color 0.15s;
}

.item-list-btn-delete {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.item-list-btn-delete:hover {
  color: #fff;
  background-color: #c44133 !important;
  border-color: #b93d30;
}

.item-list-btn-delete:focus {
  box-shadow: 0 0 0 0.25rem rgba(235, 103, 89, 0.5);
}

.item-list-btn-delete:active,
.item-list-btn-delete.active {
  color: #fff;
  background-color: #b93d30;
  border-color: #ad392d;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.item-list-btn-delete:disabled,
.item-list-btn-delete.disabled {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.item-list-btn:hover:not(:disabled) {
  background-color: #e9ecef;
}

.item-list-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.item-list-container {
  flex-grow: 1;
  overflow-y: auto;
}/*used*/

.item-list {
  margin-bottom: 0;
}/*used*/

.sidebar-item {
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.1s ease;
}/*used*/

.sidebar-item:not(.active):hover {
  background-color: #e9ecef;
}/*used*/

.item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*used*/

.item-name {
  font-weight: bold;
}/*used*/

.item-type {
  color: #6c757d;
}/*used*/

.item-details {
  display: flex;
  justify-content: space-between;
  color: #6c757d;
}/*used*/

.item-list-container::-webkit-scrollbar {
  width: 6px;
}

.item-list-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.item-list-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.item-list-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}